* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  color:#fff;
  background-color:black;
}

div.menu{
  height: 30px;
  background: #ea7109;
}

ul {
  list-style: none;
  }
  
ul li {
  display: inline;
  padding: 10px;
}
  
div.main{
  text-align: center; 
}

div.main h1:first-child{
  padding-bottom: 40px;
}

a{
  color:#fff;
  text-decoration: underline;
}